{
    "source": {
        "directories": [
            "src/Parser"
        ]
    },
    "logs": {
        "text": ".build/infection.log"
    },
    "mutators": {
        "@default": true
    },
    "tmpDir": ".build"
}
